<div class="content-div">
  <mat-card>
    <h2><strong> <mat-icon>home</mat-icon>Sales Accounts-ADD A SALES PERSON</strong></h2>
  </mat-card>

  <div>
    <mat-card>
      <div>
        <div style="overflow-x:auto;" class="p-3">
          <form [formGroup]="hotelInfo">
            <div class="row">
              <div class="col-6">
                <label for="">Name</label>
                <input class="form-control p-2" type="text" formControlName="agent_name" name="agent_name">
              </div>
              <div class="col-6">
                <label for="">Address</label>
                <input class="form-control p-2" type="text" formControlName="address" name="address">
              </div>
            </div> <br>
            <div class="row pb-2">
              <div class="col-4">
                <label for="">Phone</label>
                <input class="form-control p-2" type="text" formControlName="phone" name="phone">
              </div>
              <div class="col-4">
                <label for="">WhatsApp</label>
                <input class="form-control p-2" type="text" formControlName="whatsapp" name="whatsapp">
              </div> <br>
              <div class="col-4">
                <label for="">Email</label>
                <input class="form-control p-2" type="text" formControlName="email" name="email">
              </div> <br>
            </div> <br>
            <div class="row">
              <div class="col-4">
                <label for=""> Start Date</label>
                <input class="form-control p-2" type="date" formControlName="start_date" name="start_date">
              </div>
              <div class="col-4">
                <label for="">Territory</label>
                <input class="form-control p-2" type="text" formControlName="territory" name="territory">
              </div><br>
              <div class="col-4">
                <label for="">Commission</label>
                <input class="form-control p-2" type="text" formControlName="commission" name="commission">
              </div><br>
            </div> <br>
            <div class="row">
              <div class="col-12">
                <label for="">Comments</label>
                <textarea name="comments" class="form-control" formControlName="comments" id="" cols="30"
                  rows="5"></textarea>
              </div>
            </div><br>
            <div class="row">
              <div class="col-12">
                <label for="">Email Send Date</label>
                <input readonly class="form-control p-2" type="date" formControlName="email_send_date"
                  name="email_send_date">
              </div>
            </div><br>
            <div>
              <button mat-raised-button color="primary" (click)="updatehotelInfo()">Submit</button> &nbsp;
              <button mat-raised-button color="accent">Send Email</button>
            </div>
          </form>

        </div>
      </div>
    </mat-card>
  </div>
</div>